SECRET_KEY=change_me
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=securevault
DB_USER=example_user
DB_PASSWORD=change_me
KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_REALM=pentest-realm
KEYCLOAK_CLIENT_ID=pentest-client
KEYCLOAK_CLIENT_SECRET=change_me
DEBUG=false
KEYCLOAK_REDIRECT_URI=http://localhost:5000/api/auth/keycloak/callback
